@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
.owl-carousel .owl-stage-outer {
  padding: 3% 0;
}

.owl-nav {
  display: block !important;
}

.owl-dots {
  background: #FFB800;
  padding: 10px;
}

a:hover {
  color: #ffffff !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.cta-main {
  text-decoration: none;
  color: #ffffff;
  background: #253C78;
  padding: 12px 27px;
  -webkit-box-shadow: 10px 16px 46px -5px rgba(37, 60, 120, 0.81);
          box-shadow: 10px 16px 46px -5px rgba(37, 60, 120, 0.81);
  border-radius: 4em;
}

.container {
  max-width: 1300px;
}

h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.9em;
}

h2 span {
  color: #253C78 !important;
}

h3 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h3 span {
  color: #253C78 !important;
}

.p-info span {
  color: #253C78 !important;
}

.p-info h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}

.p-info small {
  color: #000 !important;
  font-weight: 500;
  font-size: 15px;
  font-family: "Lato", sans-serif !important;
}

header {
  background-image: url(../images/header.png);
  color: #ffffff;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

header .cta {
  border: 4px solid #FFFFFF;
  border-radius: 83px;
}

header .logo img {
  width: 76%;
}

header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.651);
}

header .header-content {
  position: relative;
  padding: 7.5% 0 8% 0;
  width: 63%;
}

header .header-content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  word-spacing: 2px;
  padding-top: 10%;
}

header .header-content p, header .header-content .cta {
  font-family: "Lato", sans-serif;
}

header .header-content p {
  color: rgba(255, 255, 255, 0.77);
  padding: 35px 54px 35px 0px;
  margin: 0;
  line-height: 1.7;
  word-spacing: 1px;
  font-weight: 400;
  text-align: justify;
}

header .header-content .cta {
  border: 2px solid #FFFFFF;
  border-radius: 83px;
  color: #fff;
  text-decoration: none;
  padding: 9px 41px;
  margin-top: 16px;
  display: block;
  width: 29%;
}

.next-header-content {
  position: relative;
  z-index: 1111;
  padding: 10% 0;
}

.next-header-content h2 {
  color: #ffffff;
  text-align: center;
  font-size: 4em;
}

.next-header-content .page-links {
  text-align: center;
}

.next-header-content .page-links p {
  color: #FFB800;
}

.next-header-content .page-links p a, .next-header-content .page-links p small {
  text-decoration: none;
  color: #ffffff;
}

.next-header-content .page-links p small {
  padding: 0 10px;
}

nav {
  font-family: "Lato", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 18px;
  margin: 0 6px;
  font-size: 17px;
  font-weight: 400;
}

nav ul li .active {
  color: #FFB800 !important;
}

nav ul li .f-btn {
  border-radius: 23px;
  padding: 10px 20px;
  background: #253C78;
}

.welcome {
  padding: 3% 0;
}

.welcome .welcome-content {
  width: 40%;
  padding-top: 5%;
}

.welcome .welcome-content p {
  color: #000;
  font-weight: 300;
  font-size: 17px;
  line-height: 32px;
  text-align: justify;
  padding: 20px 0;
}

.welcome .welcome-content p, .welcome .welcome-content .cta-main {
  font-family: "Lato", sans-serif;
}

.welcome .welcome-content h2 span {
  padding-top: 7px;
  display: block;
}

.welcome img {
  width: 35%;
}

.why .why-content {
  background-image: url(../images/why.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 10% 0;
}

.why .why-content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.651);
}

.why .why-content .edim {
  background: rgba(201, 166, 144, 0.82) !important;
  color: #000 !important;
  border-top: 4px solid #253C78 !important;
}

.why .why-content .edim p {
  color: rgba(0, 0, 0, 0.69) !important;
}

.why .why-content .why-card {
  background: rgba(37, 60, 120, 0.91);
  border-top: 4px solid #C9A690;
  position: relative;
  width: 22%;
  text-align: center;
  color: #ffffff;
  padding: 25px 20px;
}

.why .why-content .why-card img {
  width: 40%;
}

.why .why-content .why-card h5 {
  margin: 14px 0px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.why .why-content .why-card p {
  color: rgba(255, 255, 255, 0.69);
  font-family: "Lato", sans-serif;
}

.courses {
  padding: 5% 0;
}

.courses .cta-main {
  margin: auto;
  max-width: 173px;
  display: block;
}

.courses .courses-card {
  -webkit-box-shadow: 3px 11px 57px 2px rgba(0, 0, 0, 0.28);
          box-shadow: 3px 11px 57px 2px rgba(0, 0, 0, 0.28);
  background: #ffffff;
  position: relative;
  width: 23%;
  border-radius: 1px;
  cursor: pointer;
}

.courses .courses-card .cta-main {
  max-width: 100% !important;
}

.courses .courses-card h5 {
  font-family: "Montserrat", sans-serif;
  color: #253C78;
  font-weight: 700;
  padding-bottom: 15px;
  margin: 0;
}

.courses .courses-card .rate {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 13px 0;
}

.courses .courses-card .ratings i {
  color: #FFB800;
}

.courses .courses-card .grad, .courses .courses-card .price {
  font-family: "Lato", sans-serif;
}

.courses .courses-card .grad {
  color: rgba(0, 0, 0, 0.78);
}

.courses .courses-card .price {
  color: rgba(0, 0, 0, 0.69);
  margin: 0;
  padding-top: 9px;
  border-top: 1px solid rgba(0, 0, 0, 0.69);
}

.courses .courses-card .course-card-content {
  padding: 22px 16px;
}

.courses .course-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.courses .middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 19%;
  top: 22%;
  width: 68%;
  text-align: center;
}

.courses .courses-card:hover .course-image {
  opacity: 0.3;
}

.courses .courses-card:hover .middle {
  opacity: 1;
}

.courses .text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.virtual-tour {
  background-image: url(../images/virtual.png);
  background-size: cover;
  background-position: top center;
  padding: 5% 0;
}

.virtual-tour .modal-dialog {
  max-width: 97% !important;
}

.virtual-tour video {
  width: 88%;
  margin: auto;
  display: block;
}

.virtual-tour .play {
  border: none;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 54%;
  max-width: 128px;
  display: block;
  margin: 10em auto;
}

.virtual-tour .play i {
  color: #253C78;
  padding: 37px;
  font-size: 3em;
}

.virtual-tour h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 4.5em;
  font-weight: 700;
}

.virtual-tour h3 span {
  color: #C9A690 !important;
}

.alumni-voices {
  padding: 5% 0;
}

.alumni-voices h2 {
  padding-bottom: 5%;
}

.alumni-voices .alumni-cards {
  -webkit-box-shadow: 5px 10px 43px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 43px 7px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  text-align: center;
  width: 23%;
  font-family: "Lato", sans-serif;
}

.alumni-voices .alumni-cards img {
  width: 39%;
  height: 16vh;
  border: 5px solid #253C78;
  border-radius: 50%;
  position: relative;
  top: -48px;
}

.alumni-voices .alumni-cards .alumni-content {
  padding: 10px 22px;
  position: relative;
  top: -20px;
}

.alumni-voices .alumni-cards .alumni-content p {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: block;
}

.alumni-voices .alumni-cards .alumni-content span {
  font-weight: 800;
  font-size: 20px;
  color: #253C78;
  padding-top: 8px;
  display: block;
}

.hiring {
  background-image: url(../images/hiring.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 4% 0;
  margin-bottom: 5%;
}

.hiring h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 4.5em;
  font-weight: 700;
}

.hiring h3 span {
  color: #C9A690;
}

.hiring .cta-main {
  font-weight: 600;
  font-size: 20px;
}

footer {
  background: #253C78;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 3% 0 2% 0;
  font-family: "Lato", sans-serif;
}

footer .cta-main {
  background: #C9A690 !important;
}

footer .copyright h5 {
  margin: 0;
  padding-top: 37px;
  border-top: 1px solid #fff;
  font-size: 1em;
  font-weight: 400;
}

footer .subs {
  margin-left: 17%;
  margin-bottom: 5%;
}

footer input {
  outline: none;
  color: #000;
  padding: 10px;
  width: 30%;
}

footer .branding {
  width: 25%;
}

footer .branding img {
  background: #ffffff;
  padding: 10px;
  width: 70%;
  margin-bottom: 20px;
}

footer .branding p {
  font-weight: 300;
  font-size: 18px;
  word-spacing: 1px;
  text-align: justify;
}

footer .links {
  width: 60%;
}

footer .links .q-links h5 {
  font-size: 23px;
  font-weight: 600;
}

footer .links .q-links ul {
  list-style: none;
  padding: 10px 0;
}

footer .links .q-links ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 2px 0;
  font-size: 17px;
  font-weight: 300;
}

footer .links .contact h5 {
  font-size: 23px;
  font-weight: 600;
}

footer .links .contact ul {
  list-style: none;
  padding: 10px 0;
}

footer .links .contact ul li {
  font-size: 18px;
  font-weight: 800;
  padding: 7px 0;
}

footer .links .contact ul li span {
  font-size: 27px;
  padding-right: 20px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  -webkit-box-shadow: 3px 11px 57px 2px rgba(0, 0, 0, 0.28);
          box-shadow: 3px 11px 57px 2px rgba(0, 0, 0, 0.28);
}

.navbar-fixed-top.scrolled ul li a {
  color: #000;
}

.navbar-fixed-top.scrolled .f-btn {
  color: #ffffff !important;
}

.core {
  position: relative;
  top: -7em;
  width: 72% !important;
}

.course-inner-content {
  width: 50%;
}

.course-inner-content img {
  width: 16%;
  margin-right: 22px;
}

.course-inner-content h4 {
  font-family: "Montserrat", sans-serif;
  color: #253C78;
  padding: 31px 0;
  font-weight: 600;
  font-size: 2em;
}

.course-inner-content small {
  color: #253C78;
  padding-right: 5px;
}

.course-inner-content .course-desc {
  font-family: "Montserrat", sans-serif;
  line-height: 1.75;
  line-height: 2;
  text-align: justify;
}

.main-form {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  padding: 5% 7%;
  margin: 5% 10% 0 10%;
}

.main-form h3 {
  margin-bottom: 5%;
}

.main-form .cta-main {
  margin: 30px 0;
}

.main-form form {
  width: 64%;
}

.main-form form label {
  font-family: "Lato", sans-serif;
  color: #253C78;
  padding-bottom: 13px;
  font-weight: 600;
}

.main-form form input {
  background: #FFFFFF;
  -webkit-box-shadow: -4px 4px 35px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 35px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  padding: 10px 20px;
  width: 66%;
  margin-bottom: 13px;
}

.main-form form textarea {
  background: #FFFFFF;
  -webkit-box-shadow: -4px 4px 35px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 35px rgba(0, 0, 0, 0.25);
  resize: none;
  outline: none;
  border: none;
  padding: 10px 20px;
  width: 66%;
  height: 20vh;
}

.main-form .contact-info {
  width: 47%;
}

.main-form .contact-info h4 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 7%;
}

.main-form .contact-info h4 span {
  color: #253C78;
}

.main-form .contact-info i {
  background: #253C78;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  margin-right: 15px;
  display: block;
  width: 15%;
}

.main-form .contact-info .c-info small {
  font-family: "Lato", sans-serif;
}

.main-form .contact-info .c-info p {
  font-family: "Montserrat", sans-serif;
}

.events {
  padding: 5% 0;
}

.events .events-box {
  -webkit-box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.25);
  margin-bottom: 4%;
}

.events .events-box .events-short {
  padding: 3%;
}

.events .events-box .events-short p {
  font-family: "Lato", sans-serif;
  line-height: 2;
  padding: 10px 0;
  word-spacing: 4px;
}

.contact .cta-main {
  max-width: 173px;
  display: block;
}

.events-inner {
  padding: 5% 0;
}

.events-inner .cta-main {
  max-width: 173px;
  display: block;
}

.events-inner .events-cred {
  margin-top: 11%;
}

.events-inner .events-cred h5 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
}

.events-inner .events-cred i {
  background: #fff;
  -webkit-box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin: 0 17px 16px 0px;
}

.events-cred i {
  font-size: 25px;
  padding-right: 12px;
  color: #253C78;
}

.events-cred h5 {
  margin: 0;
  font-family: "Lato", sans-serif;
  margin-right: 60px;
}
/*# sourceMappingURL=style.css.map */