{% extends 'core/base.html' %}

{% load static %}

{% block title %}Nice Edu | Events{% endblock title %}

{% block content %}
<header>
    <div class="container">
        <div class="next-header-content">
            <h2>Events</h2>
            <div class="page-links">
                <p><a href="{% url '' %}">Home</a><small>></small>Events</p>
            </div>
        </div>
    </div>
</header>
<style>
    header
    {
        background-image: url(../static/images/events.png);
        background-attachment: fixed;
    }
</style>
<div class="events">
    <div class="container">
      <h2 class="pb-5">Events in <span>December</span></h2>
      <div class="events-box d-flex">
          <img src="{% static 'images/inner-event.png' %}" alt="">
          <div class="events-short">
              <h3>Workshop in <span>Ethical Hacking</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tellus id dui accumsan hendrerit. Etiam rhoncus, nunc id convallis dictum, ligula nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi, dictum elemen nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi,..........</p>
              <div class="events-cred d-flex align-items-center">
                  <div class="d-flex align-items-center">
                      <i class="fas fa-calendar"></i>
                      <h5>25th Dec, 2022</h5>
                  </div>
                  <div class="d-flex align-items-center">
                      <i class="fas fa-map-marker-alt"></i>
                      <h5>Nice Edu Hall</h5>
                  </div>
                  <a href="" class="cta-main">Read More</a>
              </div>
          </div>
      </div>
      <div class="events-box d-flex">
          <img src="{% static 'images/inner-event.png' %}" alt="">
          <div class="events-short">
              <h3>Workshop in <span>Ethical Hacking</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tellus id dui accumsan hendrerit. Etiam rhoncus, nunc id convallis dictum, ligula nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi, dictum elemen nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi,..........</p>
              <div class="events-cred d-flex align-items-center">
                  <div class="d-flex align-items-center">
                      <i class="fas fa-calendar"></i>
                      <h5>25th Dec, 2022</h5>
                  </div>
                  <div class="d-flex align-items-center">
                      <i class="fas fa-map-marker-alt"></i>
                      <h5>Nice Edu Hall</h5>
                  </div>
                  <a href="" class="cta-main">Read More</a>
              </div>
          </div>
      </div>
      <div class="events-box d-flex">
          <img src="{% static 'images/inner-event.png' %}" alt="">
          <div class="events-short">
              <h3>Workshop in <span>Ethical Hacking</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tellus id dui accumsan hendrerit. Etiam rhoncus, nunc id convallis dictum, ligula nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi, dictum elemen nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi,..........</p>
              <div class="events-cred d-flex align-items-center">
                  <div class="d-flex align-items-center">
                      <i class="fas fa-calendar"></i>
                      <h5>25th Dec, 2022</h5>
                  </div>
                  <div class="d-flex align-items-center">
                      <i class="fas fa-map-marker-alt"></i>
                      <h5>Nice Edu Hall</h5>
                  </div>
                  <a href="" class="cta-main">Read More</a>
              </div>
          </div>
      </div>
      <div class="events-box d-flex">
          <img src="{% static 'images/inner-event.png' %}" alt="">
          <div class="events-short">
              <h3>Workshop in <span>Ethical Hacking</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tellus id dui accumsan hendrerit. Etiam rhoncus, nunc id convallis dictum, ligula nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi, dictum elemen nisi feugiat lectus, eleifend finibus lectus tortor sed est. Morbi interdum orci sed risus consequat, quis tincidunt ligula facilisis. Sed cursus sed neque id tempus. Praesent et maximus quam. Praesent sit amet aliquam nisi,..........</p>
              <div class="events-cred d-flex align-items-center">
                  <div class="d-flex align-items-center">
                      <i class="fas fa-calendar"></i>
                      <h5>25th Dec, 2022</h5>
                  </div>
                  <div class="d-flex align-items-center">
                      <i class="fas fa-map-marker-alt"></i>
                      <h5>Nice Edu Hall</h5>
                  </div>
                  <a href="" class="cta-main">Read More</a>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}