{% extends 'core/base.html' %}

{% load static %}

{% block title %}Nice Edu | Learning is for Knowledge{% endblock title %}

{% block content %}
<header>
        <div class="container">
            <div class="header-content" data-aos="slide-right">
                <h1>Better education for A better world</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscingl elit sed diam nonumm nibhy euismod lorem ipsum dor amet is mome, consectetuer </p>
                <a href="" class="cta">Get Started &nbsp;&nbsp;&nbsp; &rarr;</a>
            </div>
        </div>
</header>
<section class="welcome">
    <div class="container py-4">
        <div class="d-flex justify-content-between py-5">
          <div class="welcome-content" data-aos="fade-right">
              <h2>Welcome to <br> <span>NICE EDUCATION</span></h2>
              <p>Aorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod does tempor incididunt ut labore et.dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat quis nostrud exercitation ullamco.</p>
              <a href="" class="cta-main">Take a tour &nbsp;&nbsp;&nbsp; &rarr;</a>
          </div>
          <img src="{% static 'images/welcome.png' %}" alt="" data-aos="slide-down">
        </div>
    </div>
</section>
<section class="why">
      <h2 class="text-center pb-5" data-aos="zoom-in">Why <span>NICE EDUCATION?</span></h2>
      <div class="why-content">
          <div class="container d-flex justify-content-between">
              <div class="why-card" data-aos="fade-down">
                  <img src="{% static 'vectors/image 1.svg' %}" alt="">
                  <h5>Professional Teachers</h5>
                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
              </div>
              <div class="why-card edim" data-aos="fade-down">
                  <img src="{% static 'vectors/image 2.svg' %}" alt="">
                  <h5>Professional Teachers</h5>
                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
              </div>
              <div class="why-card edim" data-aos="fade-down">
                  <img src="{% static 'vectors/image 3.svg' %}" alt="">
                  <h5>Professional Teachers</h5>
                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
              </div>
              <div class="why-card" data-aos="fade-down">
                  <img src="{% static 'vectors/image 3.svg' %}" alt="">
                  <h5>Professional Teachers</h5>
                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
              </div>
          </div>
      </div>
</section>
<section class="courses">
  <h2 class="text-center pb-5" data-aos="zoom-in">Courses <span>Offered</span></h2>
  <div class="container d-flex justify-content-between py-5">
      <div class="courses-card" data-aos="fade-down">
          <img src="{% static 'images/physics.png' %}" class="course-image">
          <div class="middle">
              <a href="" class="cta-main px-5">Apply Now</a>
          </div>
          <div class="course-card-content">
              <h5>Physics & Mathematics</h5>
          <div class="rate d-flex justify-content-between">
              <div class="ratings d-flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <span class="grad">20k+ graduated</span>
          </div>
          <p class="price">Starting from 20k/year</p>
          </div>
      </div>
      <div class="courses-card" data-aos="fade-down">
          <img src="{% static 'images/physics.png' %}" class="course-image">
          <div class="middle">
              <a href="" class="cta-main px-5">Apply Now</a>
          </div>
          <div class="course-card-content">
              <h5>Physics & Mathematics</h5>
          <div class="rate d-flex justify-content-between">
              <div class="ratings d-flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <span class="grad">20k+ graduated</span>
          </div>
          <p class="price">Starting from 20k/year</p>
          </div>
      </div>
      <div class="courses-card" data-aos="fade-down">
          <img src="{% static 'images/physics.png' %}" class="course-image">
          <div class="middle">
              <a href="" class="cta-main px-5">Apply Now</a>
          </div>
          <div class="course-card-content">
              <h5>Physics & Mathematics</h5>
          <div class="rate d-flex justify-content-between">
              <div class="ratings d-flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <span class="grad">20k+ graduated</span>
          </div>
          <p class="price">Starting from 20k/year</p>
          </div>
      </div>
      <div class="courses-card" data-aos="fade-down">
          <img src="{% static 'images/physics.png' %}" class="course-image">
          <div class="middle">
              <a href="" class="cta-main px-5">Apply Now</a>
          </div>
          <div class="course-card-content">
              <h5>Physics & Mathematics</h5>
          <div class="rate d-flex justify-content-between">
              <div class="ratings d-flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <span class="grad">20k+ graduated</span>
          </div>
          <p class="price">Starting from 20k/year</p>
          </div>
      </div>
  </div>
  <a href="" class="cta-main mt-4">View All Courses</a>
</section>
<div class="virtual-tour">
    <h3 class="text-center" data-aos="zoom-in">Take a <span>Virtual</span> Tour</h3>
    <!-- Button trigger modal -->
      <button type="button" class="play" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fas fa-play"></i>
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <video src="{% static 'images/video.mp4' %}" type="mp4" autoplay ></video>
              </div>
          </div>
          </div>
      </div>
</div>
<section class="alumni-voices">
    <h2 class="text-center" data-aos="zoom-in">Alumni <span>Voices</span></h2>
    <div class="container d-flex justify-content-between my-5">
        <div class="alumni-cards" data-aos="fade-down">
          <img src="{% static 'images/prof.jpeg' %}" alt="">
          <div class="alumni-content">
              <p>“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit ”</p>
              <span>Nice Banjara</span>
          </div>
        </div>
        <div class="alumni-cards" data-aos="fade-down">
          <img src="{% static 'images/profile.jpg' %}" alt="">
          <div class="alumni-content">
              <p>“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit ”</p>
              <span>Nice Banjara</span>
          </div>
        </div>
        <div class="alumni-cards" data-aos="fade-down">
          <img src="{% static 'images/prof.jpeg' %}" alt="">
          <div class="alumni-content">
              <p>“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit ”</p>
              <span>Nice Banjara</span>
          </div>
        </div>
        <div class="alumni-cards" data-aos="fade-down">
          <img src="{% static 'images/profile.jpg' %}" alt="">
          <div class="alumni-content">
              <p>“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit ”</p>
              <span>Nice Banjara</span>
          </div>
        </div>
    </div>
</section>
<section class="hiring">
    <div class="container">
      <h3 class="pb-4">We're <span>Hiring</span></h3>
      <a href="" class="cta-main">Submit Your CV</a>
    </div>
</section>
{% endblock content %}